* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1px, 800px));
    width: 800px;
    height: 800px;
    background-color: aqua;
    margin: auto;
}


.grid-square {
    background-color: black;
    border: 1px solid white;
}

.grid-square:hover {
    background-color: white;
}